@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Gajraj+One&family=Risque&display=swap');

body{
    background-image: url(images/2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    text-align: center;
    font-family: 'Climate Crisis', cursive;
}

.Lol{
    color: purple;
}

main{
    padding: 10px;
    text-align: center;
    font-family: 'Gajraj One', cursive;
    font-size: 30px;
}

main>p{
    padding: 20px;
}

footer{
    font-family: 'Risque', cursive;
    font-size: 30px;
    text-align: right;
    color:white;
}
